#app {
    position: relative;
}



.content{
    position: absolute;
    top: 0;
    right: 0;
    left:250px;
  
    /* margin-left: 250px; Учитывать ширину боковой панели */
    /* padding: 10px; */
}

/* Стили для боковой панели */
.sidebar {
    width: 250px; /* Ширина боковой панели */
    background-color: #100f0fe9; /* Цвет фона */
    /* color: #fff; Цвет текста */
    position: fixed; /* Зафиксированное позиционирование */
    top: 0;
    z-index: 100;
    left: 0;
    height: 100%; /* Высота на всю страницу */
    box-shadow: inset -1px 0 0 rgba((0)0, 0, .1);
    overflow-y: auto; /* Добавление полосы прокрутки, если содержимое превышает высоту боковой панели */
}

/* Стили для элементов списка меню */




/* .sidebar ul li a {
    text-decoration: none;
    color: #fff;
} */




/* Дополнительные стили и анимации можно добавить по вашему усмотрению */
